<h2>All tricounts - index</h2>

<div class="my-3  ">
  <%= link_to 'New tricount', new_user_tricount_path(user_id: @user) %>
</div>

<h3>Welcome <%= @user.first_name %>!</h3>

<% @tricounts.each do |tricount| %>
  <div>
    <%= tricount.title %>
    <%= tricount.description %>
    <%= link_to 'Voir plus', user_tricount_path(user_id: @user, id: tricount) %>
  </div>

<% end %>
