<!-- new.html.erb -->
<h2>New Tricount</h2>

<%= simple_form_for [@user, @tricount], url: user_tricounts_path(@user) do |f| %>
  <%= f.input :title, label: 'Tricount title' %>
  <%= f.input :description, label: 'Tricount description' %>

  <!-- Participant fields -->
  <div id="participant-fields" data-controller="participant">
    <%= f.simple_fields_for :participant do |participant_form| %>
      <%= render 'shared/participant_fields', f: participant_form %>
    <% end %>
  </div>

  <%= f.button :submit, type: "submit" %>
<% end %>
