<h2>New Tricount</h2>

<%= simple_form_for [@user, @tricount], url: user_tricounts_path(@user) do |f| %>
  <%= f.input :title, label: 'Triicount title' %>
  <%= f.input :description, label: 'Triicount description' %>

    <!-- Participants fields -->
    <%= f.fields_for :participants do |participant_form| %>
      <%= participant_form.label :name, label: 'Participant Name' %>
      <%= participant_form.text_field :name %>
    <% end %>

  <%= f.button :submit %>
<% end %>
