<h2> index dépenses dans tricount</h2>

<%= link_to 'Ajouter dépense', new_user_tricount_expense_path(user_id: @tricount.user, tricount_id: @tricount) %>


<%= @expenses.each do |expense| %>

  <%= expense.title %>
  <%= expense.description %>
  <%# <%= expense.amount_cents/100 %> euros

<% end %>
