<h2>New Expense</h2>


<%= simple_form_for [@tricount.user, @tricount, @expense] do |f| %>
  <%= f.input :title, label: 'Expense title' %>
  <%= f.input :description, label: 'Expense description' %>

  <%# <%= f.input :amount_cents, label: 'Expense amount in euros' %>

  <%= f.button :submit %>
<% end %>
